@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body,
html {
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body {
    font-size: 1.4rem;
}

/* header */
.container {
    max-width: 1300px;
    margin: 0 auto;

}

section {
    scroll-margin: 50px;
}

header {
    background-color: blueviolet;
    position: sticky;
    top: 0;
    z-index: 100;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;

}

nav li {
    font-size: 2rem;
    border-bottom: 0.4rem transparent solid;
    transition: 0.3s ease-in-out;
}

nav li:hover {
    border-bottom: 0.4rem solid yellow;
    transition: 0.3s ease-in-out;
}

nav ul {
    display: flex;
    gap: 1.5rem;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
}

/* main section */
#hero {
    background-color: rgb(41, 27, 129);
    padding: 4rem 0;
    border-bottom: 5px solid rgb(6, 6, 79);
}

#hero .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero_image img {
    width: 300px;
    height: 400px;
    border-radius: 50%;
    border: 7px solid rgb(41, 27, 129);

}

.hero_container {
    display: grid;
    place-items: center;
}

#hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hi_txt {
    font-size: 6rem;
    font-weight: bold;
    color: yellow;
}

.name_txt {
    font-size: 5rem;
}

#hero h2 {
    font-size: 4rem;
    font-weight: bold;

    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;

}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}

/* certificates */
#certificate {
    background-color: rgb(33, 33, 118);
}

#certificate h2 {
    font-size: 4rem;
    text-align: center;
    padding: 5rem 0;
}

/* project secction */
#project {
    background-color: rgb(65, 11, 116);
}

#project h2 {
    font-size: 6rem;
    text-align: center;
    padding: 2rem 0;
}

.project_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
}

.grid_item {
    display: grid;
    place-items: center;
}

.card {
    width: 420px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.2s ease-in-out;

}

.card:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
}

.card:hover img {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}

.card:hover .card_container {
    background: rgb(240, 22, 22);
    color: black;
    transform: translateY(0px);

}

.card_container {
    padding: 2rem;
    position: relative;
    top: -6.5rem;
    margin-bottom: -6.5rem;
    transition: 0.5s ease-in-out;
    transform: translateY(100px);
}

.card_container h3 {
    text-align: center;
}


/* contact section */
#contact {
    background-color: rgb(85, 35, 132);
}

#contact h2 {
    font-size: 6rem;
    text-align: center;
    margin: 0.5rem 0;
}

#contact .container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

}

.top_content {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    margin: 0 auto;


}

.contact_way {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.contact_way i {
    font-size: 3rem;
    cursor: pointer;
}

.contact_way h3 {
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.bottom_content {
    max-width: 400px;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    margin: 0 auto;

}

footer {
    background-color: blueviolet;
    padding: 2rem;
    color: white;
    font-size: 2rem;
    text-align: center;
}

/* responsive code */
@media (max-width: 786px) {
    html {
        font-size: 40%;
    }

    #hero .container {
        flex-direction: column;
    }

    .hero_image {
        display: grid;
        place-items: center;
    }

    #contact .container {
        height: 70vh;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 32%;
    }

    #hero .container {
        flex-direction: column;
    }

    .hero_image {
        display: grid;
        place-items: center;
    }

    #contact .container {
        height: 50vh;
    }
}